* {
  box-sizing: border-box;
}

body {
  margin: auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-logo {
  width: 300px;
  height: 300px;
}

.nav-items-list {
  display: flex;
  gap: 50px;
}

@media (min: 1023px) {
  .button-toggle {
    display: none;
  }
}

@media (max-width: 1024px) {
  .nav-items-list {
    display: none;
  }
}
